<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户注册</title>
    <link rel="stylesheet" href="static/css/join.css">
</head>
<body>
    <div class="join">
        <h2>用户注册</h2>
        <div class="join_box">
            <input type="text" required="required">
            <label>
                <span>*</span>
                手机号
            </label></div>
        <div class="join_box">
            <input type="text" required="required">
            <label>
                <span>*</span>
                用户名
            </label></div>
        <div class="join_box">
            <input type="password" required="required">
            <label>
                <span>*</span>
                密码
            </label></div>
        <div class="join_box">
            <input type="password" required="required">
            <label>
                <span>*</span>
                确定密码
            </label></div>
            <div class="join_return"><a href="/">返回</a></div>
        </div>
    </div>
</body>
</html>