<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理界面</title>
    <link rel="stylesheet" href="static/css/root.css">
    <!--使用usermaincss中的导航栏样式-->
    <link rel="stylesheet" href="static/css/Usermain.css">
</head>
<body>
    <div class="big-box">
        <div class="first-box">
            <div style="color: #000000;" >任务管理</div>
            <div>任务审核</div>
            <div>收藏数量</div>
        </div>
        <div class="second-box">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
        </div>
    </div>
</body>
</html>