<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>众筹服务</title>
		<meta name="description" content="小米官网直营小米公司旗下所有产品，包括小米手机系列小米10 Pro 、小米9、小米MIX Alpha，Redmi 红米系列Redmi 10X、Redmi K30，小米电视、笔记本、米家智能家居等，同时提供小米客户服务及售后支持." />
		<meta name="keywords" content="小米,redmi,小米10,Redmi 10X,小米MIX Alpha,小米商城" />
		<!--处理样式-->
		<link rel="stylesheet" type="text/css" href="css/reset.css">	
		<!--公共的CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!--首页的CSS-->
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<!--引入网页标题图标-->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- usermain -->
		<link rel="stylesheet" href="css/Usermain.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- 引入js文件 -->
		<script src="js/bootstrap.js"></script>	
		<script src="js/Usermain.js"></script>
	</head>
	<body>
		<div class="container">
				<div class="header">
					<div class="nav-icon">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="content">侧边栏内容</div>
				<div class="sideBar">
					<div class="sideBar-left">
						<div class="divider"></div>
						<div class="body-content">
							<div class="messageWarning item">
								<div><i class="message_icon"></i>消息提醒</div>
								<ul>
									<li class="news">
										<i class="circle"></i><a href="javascript:void()">消息1</a>
									</li>
									<li class="news">
										<i class="circle"></i><a href="javascript:void()">消息2</a>
									</li>
									<li class="news">
										<i class="circle"></i><a href="javascript:void()">消息3</a>
									</li>
									<li class="news">
										<i class="circle"></i><a href="javascript:void()">消息4</a>
									</li>
								</ul>
							</div>
							<div class="course item">
								<div><i class="icon"></i>课程</div>
								<ul>
									<li class="myInfo">
										<i class="circle"></i><a href="javascript:void()">我的课程</a>
									</li>
									<li class="Dynamic">
										<i class="circle"></i><a href="javascript:void()">课程动态</a>
									</li>
									<li class="question">
										<i class="circle"></i><a href="javascript:void()">问题空间</a>
									</li>
									<li class="homework">
										<i class="circle"></i><a href="javascript:void()">课程作业</a>
									</li>
								</ul>
							</div>
							<div class="myHome item">
								<a href="javascript:void()">
									<i class="home_icon"></i>我的主页
								</a>
							</div>
							<div class="exit item">
								<a href="javascript:void()">
									<i class="exit_icon"></i>退出
								</a>
							</div>
						</div>				
					</div>
					<div class="sideBar-right"></div>
				</div>		
			</div>
			
			
			<script src="js/bootstrap.min.js"></script>
			<script src="js/bootstrap.js"></script>
			<script src="js/npm.js"></script>
			<script src="js/bootstrap.js"></script>	
			<script src="js/Usermain.js"></script>	
	</body>
</html>
